@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* ----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --text-default: rgb(255, 255, 255);
  --text-gray: rgb(225, 225, 230);
  --bg: rgb(15, 13, 19);
  --bg-wrapper: rgb(42, 32, 64);
  --bg-input-opct-small: rgba(217, 217, 217, 0.3);
  --bg-input-opct-full: rgba(217, 217, 217, 1);
}

body.themeLight {
  --text-default: rgb(0, 0, 0);
  --text-gray: rgb(225, 225, 230);
  --bg: rgb(255, 255, 255);
  --bg-wrapper: rgb(114, 119, 120);
  --bg-input-opct-small: rgba(217, 217, 217, 0.3);
  --bg-input-opct-full: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: var(--text-default);
}

ul,
li {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theme img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.theme .dark {
  display: none;
}

.c-wrapper {
  width: fit-content;
  padding: 2.4rem;

  background-color: var(--bg-wrapper);

  border-radius: 0.6rem;

  opacity: 0;
  transform: translateX(-100px);
  animation: appear 0.9s forwards;
}

.c-wrapper__image img {
  width: 11.8rem;
  height: 11.8rem;
  border-radius: 0.3rem;
}

.c-wrapper__info {
  margin: 1.8rem 0;
}

.c-wrapper__button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.c-wrapper__button--item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.c-wrapper__button--item img {
  padding: 0.125rem;
}

.c-wrapper__details--info {
  display: flex;
  justify-content: space-between;
}

.c-wrapper__info--item.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-default);
}

.c-wrapper__info--item {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-gray);
}

#range {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 6px;
  background-color: var(--bg-input-opct-small);
}

#range::-webkit-slider-thumb {
  appearance: none;
}

#progressBar {
  margin-top: -9px;
  width: 0;
  height: 5px;
  border-radius: 6px;

  background-color: var(--bg-input-opct-full);
}

.durationInitial,
.durationTotal {
  color: var(--text-gray);
  padding-top: 0.6rem;
  display: flex;
}

footer {
  opacity: 0;
  transform: translateX(100px);
  animation: appear 0.9s forwards;
}

footer div {
  padding-top: 0.6rem;
  text-align: center;
}

footer a > img {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
}

footer p {
  text-align: center;
  align-items: center;

  font-size: 0.75rem;
}

footer p:hover {
  text-decoration: underline;
}
/* ----------------- */

@keyframes appear {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
